<footer class="w3-container w3-teal">
		<button class="w3-button w3-red" onclick="w3.show('#copyright')">Copyright</button>
</footer>

<div id="copyright" class="w3-animate-opacity w3-modal">
	<div class="w3-modal-content w3-card-4">
		<header class="w3-container w3-teal">
			<span onclick="w3.hide('#copyright')" class="w3-button w3-display-topright">&times;</span>
			<h2>Copyright</h2>
		</header>
		<div class="w3-container">
			<p>Developer: Peter Heeren</p>
			<p>Images: Classroomclipart</p>
		</div>
		<footer class="w3-container w3-teal">
			<p>Made For Amanda Williams | CanBreathe Educater</p>
		</footer>
		<footer class="w3-container w3-red">
			<p>This Content Is Protected Via Copyright Laws.</p>
		</footer>
	</div>
</div>