<div class="w3-row w3-border">
    <div class="w3-twothird w3-container w3-red">
      <h2>Taking Inhalers Redesigned</h2>
      <p>Making Inhalers Fun For kids.</p>
      <p>No Fee. No Loss. More Gain.</p>
    </div>
    <div class="w3-third w3-center w3-container">
      <br>
      <a href="home.html" class="w3-btn w3-hover-light-blue w3-margin w3-blue rounded">Open Today</a>
    </div>
  </div>


  <div class="w3-row w3-border">
    <div class="w3-twothird w3-container w3-deep-purple">
      <h2>New?</h2>
      <p>Take A Tour.</p>
      <p>No Fee. No Loss. More Gain.</p>
    </div>
    <div class="w3-third w3-center w3-container">
      <br>
      <a href="tour.html" class="w3-btn w3-hover-amber w3-margin w3-orange rounded">Take a Tour</a>
    </div>
  </div>


  <div class="w3-row w3-border">
    <div class="w3-twothird w3-container w3-green rounded-bottom-right">
      <h2>Like It or Not?</h2>
      <p>Leave a Review.</p>
      <p>No Fee. No Loss. More Gain.</p>
    </div>
    <div class="w3-third w3-center w3-container">
      <br>
      <a href="review.html" class="w3-btn w3-hover-blue w3-margin w3-deep-purple rounded">Leave Feedback</a>
    </div>
  </div>