<!DOCTYPE html>
<html lang="en">

<head>
  <title>Asthma App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Asthma App v3">
  <script src="https://www.w3schools.com/lib/w3.js" SameSite="lax" async></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" SameSite="lax" defer>
  <link rel="stylesheet" href="../../styles.css" defer>
  <link rel="manifest" href="manifest.webmanifest" async>
  <script src="functions.js" defer></script>
  <script src="scripts.js" defer></script>
  <meta name="theme-color" content="#009688">
  <link rel="apple-touch-icon" href="images/icons/icon-192x192.png">
</head>


<body>

  <header class="w3-container w3-teal low-opacity">
    <h1>Asthma App</h1>
  </header>

  <div class="w3-row w3-border">
    <div class="w3-twothird w3-container w3-red low-opacity">
      <h2>Taking Inhalers Redesigned</h2>
      <p>Making Inhalers Fun For kids.</p>
      <p>No Fee. No Loss. More Gain.</p>
    </div>
    <div class="w3-third w3-center w3-container highlight">
      <br>
      <a href="2.html" class="w3-button w3-margin w3-blue rounded">Get Today</a>
    </div>
  </div>


  <div class="w3-row w3-border  low-opacity">
    <div class="w3-twothird w3-container w3-deep-purple">
      <h2>New?</h2>
      <p>Take A Tour.</p>
      <p>No Fee. No Loss. More Gain.</p>
    </div>
    <div class="w3-third w3-center w3-container">
      <br>
      <a href="tour.html" class="w3-button w3-margin w3-orange rounded">Take a Tour</a>
    </div>
  </div>


  <div class="w3-row w3-border low-opacity">
    <div class="w3-twothird w3-container w3-green rounded-bottom-right">
      <h2>Like It or Not?</h2>
      <p>Leave a Review.</p>
      <p>No Fee. No Loss. More Gain.</p>
    </div>
    <div class="w3-third w3-center w3-container">
      <br>
      <a href="review.html" class="w3-button w3-margin w3-deep-purple rounded">Leave Feedback</a>
    </div>
  </div>





  <footer class="w3-container w3-teal bottom low-opacity">
    <button class="w3-button w3-red" onclick="w3.show('#copyright')">Copyright</button>
  </footer>

  <div id="copyright" class="w3-animate-opacity w3-modal">
    <div class="w3-modal-content w3-card-4">
      <header class="w3-container w3-teal">
        <span onclick="w3.hide('#copyright')" class="w3-button w3-display-topright">&times;</span>
        <h2>Copyright</h2>
      </header>
      <div class="w3-container">
        <p>Developer: Peter Heeren</p>
        <p>Images: Classroomclipart</p>
      </div>
      <footer class="w3-container w3-teal">
        <p>Made For Amanda Williams | CanBreathe Educater</p>
      </footer>
      <footer class="w3-container w3-red">
        <p>This Content Is Protected Via Copyright Laws.</p>
      </footer>
    </div>
  </div>



</body>

</html>