<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" async>
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="../../styles.css">
	<meta name="viewport" content="width=device-width">
</head>
<body>
<canvas id="canvas" touch-action="none"></canvas>
<audio preload="true" id="collide">
	<source src="https://dl.dropbox.com/u/26141789/canvas/pingpong/Metal%20Cling%20-%20Hit.mp3" />
	<source src="https://dl.dropbox.com/u/26141789/canvas/pingpong/Metal%20Cling%20-%20Hit.wav" />
</audio>
<a href="../../home.html" class="w3-button w3-amber rounded" style="position: fixed; top: 10px; right: 10px;">Exit Game</a>
  <script  src="./script.js"></script>

</body>
</html>
